/* Tam Osornio */ 
/* @font-face kit by Fonts2u (https://fonts2u.com) */ 


/*************************
Architects_Daughter
*************************/
@font-face {
    font-family:"ArchitectsDaughter";
    src:url("../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
/*************************
Permanent_Marker
*************************/
@font-face {
    font-family:"PermanentMarker";
    src:url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
/*************************
Shadows_Into_Light
*************************/
@font-face {
    font-family:"ShadowsIntoLight";
    src:url(../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf) format("truetype");
    font-weight:normal;
    font-style:normal;
}
