@import "./fonts.scss";
@import "./styles.scss";
@import "./bootstrap.scss";
@import "./animate.scss";
@import "./hover.scss";
@import "./jquery-ui.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}