//Banner
.bg-header{
    background-image: url('../../../src/assets/portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.logotipo {
    font-family: 'ShadowsIntoLight', normal;
}